body {
  background-color: #defcf9;
  color: #40514E;
  margin: 0;
  font-size: 200%;
}

.top-cloud {
  position: relative;
  left: 70%;
}

h1 {
  text-align: center;
  margin-bottom: 0;
  font-family: Sacramento;
  font-size: 5.625rem;
  color: #66BFBF;
  
}

h2{
  font-family: Varela Round ;
  text-align: center;
  color: #66BFBF;
  font-weight: normal;
  font-size: 1.7rem;
}

h3{
  text-align: center;
  font-family: Varela Round ;
  color: #11999E;
  font-size: 1.5rem;
  
}

p {
  text-align: center;
  margin-top: 0;
  font-family: Montserrat;
  font-size: 1.2rem;

}

.p-html{
  text-align: left;
  /* clear: left; */
}

.p-css{
  text-align: left;
  /* clear: left; */
}

.bottom-cloud {
  position: relative;
  left: 20%;
}

.mountain {
  position: relative;
  left: 30%;
}

.profile-center{
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.html-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
  padding-top: 18px;
  float: left;
}

.css-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
  padding-top: 18px;
  float: left;
}

.skill-row{
  width: 50%;
  margin: auto auto;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 45%;
}

.btn:hover {
  background: #58a3a3;
  background-image: -webkit-linear-gradient(top, #58a3a3, #58a3a3);
  background-image: -moz-linear-gradient(top, #58a3a3, #58a3a3);
  background-image: -ms-linear-gradient(top, #58a3a3, #58a3a3);
  background-image: -o-linear-gradient(top, #58a3a3, #58a3a3);
  background-image: linear-gradient(to bottom, #58a3a3, #58a3a3);
  text-decoration: none;
}
.middle-container{
 margin: auto;
}

.bottom-container{
 padding: 40px 40px;
 background-color: #66BFBF;
 color: white;
}

.footer-link{
  position: relative;
  left: 35%;
  padding: 10px;
  color: #11999E;
  font-family: Varela Round;
  text-decoration: none;
  line-height: 2;
}